# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\netology\Профессия Тестировщик ПО\4 Автоматизированное тестирование\Повторение\3 selenium\dz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
